<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
  <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../imagenes/imagen1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../imagenes/imagen2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../imagenes/imagen3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--MENU PRODUCTOS-->
  <div>
    <div class="d-flex">
      <a id="btnRegresarProducto" th:href="@{/menu-producto}" class=" p-4 col-md-2" type="submit"><img src="../imagenes/regresar.png"
          alt="huella" height="100" width="100"></a>
      <div class="bg-menuProd rounded-pill p-3 my-5 col-md-8" height="100" width="100">
        <h1 class="text-center text-diseño-mp">Bienvenido al Catálogo</h1>
      </div>
    </div>

    <div class="row g-0">
      <div class="card mx-auto border-menuProd border-3 mb-4" style="width: 16rem;" th:each="producto : ${producto}">
        <img th:if="${producto.categoria.nombre == 'Higiene'}" src="../imagenes/default-compra2.jpg" class="card-img-top" alt="shampooCachorros" width="150rem"
          height="230rem">
        <img th:if="${producto.categoria.nombre != 'Higiene'}" src="../imagenes/default-compra.jpg" class="card-img-top" alt="shampooCachorros" width="150rem"
          height="230rem">  
        <div class="card-body">
          <h5 class="card-title text-center text-diseño-mpc" th:text="${producto.nombre}"></h5>
          <p class="card-text estilo-letra-mascota" th:text="${producto.descripcion}"></p>
          <a href="#" class="btn btn-verDetalle text-diseño-mpc" th:href="@{/detalleProducto/}+${producto.id}">Ver Detalle</a>
        </div>
      </div>
    </div>
    <nav th:replace="paginator-nav :: paginator"></nav>
  </div>

  <footer th:replace="layout :: footer"></footer>
</body>

</html>