<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <main class="bg-detalle-usuario ">  
        <!--MENU PRODUCTOS-->
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="card mb-12 p-3 border-3 " style="max-width: 1240px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="../imagenes/mascota-default.jpg" class="img-fluid rounded-start position-relative top-50 start-50 translate-middle" alt="detalle-mascota">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body p-3">
                          <h5 class="card-title text-diseño-mpc text-center" th:text="${titulo}"></h5>
                          <div class="text-card">
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Nombre Propietario: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.propietario.nombre}" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Edad (meses): </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.edad} + ' meses'" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Sexo: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.Sexo}" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Especie: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.especie}" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Raza: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.raza}" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Estatura (cm): </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.estatura}+' cm'" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Peso (kg): </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.peso}+' kg'" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Color: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${mascota.color}" ></p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="col-md-5 position-relative me-2">
                                    <p class="card-text text-diseño-detalle">Fecha de Registro: </p>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <p class="estilo-letra-mascota" th:text="${#temporals.format(mascota.fecha_registro,'dd/MM/YYYY hh:mm a')}"></p>
                                </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="col-10 d-grid m-4">
                                <a th:href="@{/gestionMascota}" type="submit" id="btn-regresar" class="btn btn-fondo-rc text-light text-diseño-prod"><img src="../imagenes/flecha-hacia-atras.png" alt="agregar" height="45px" width="45px">Volver</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
    <footer th:replace="layout :: footer"></footer>
</body>

</html>