<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-4 rounded text-center">
                                <img src="../imagenes/veterinario.png" alt="registrar-empleado" height="150"
                                    width="150">
                                <h1 class="fs-1 text-diseño-rc2 text-center" th:text="${titulo}"></h1>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioEmpleado}" method="post" th:object="${empleado}" enctype="multipart/form-data"
                                class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${empleado.id}" />
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">DNI</label>
                                    <input type="number" th:field="*{dni}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="DNI" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}"
                                        th:errors="*{dni}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">Nombre</label>
                                    <input type="text" th:field="*{nombre}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese Nombre" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                                        th:errors="*{nombre}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">Apellido</label>
                                    <input type="text" th:field="*{apellido}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese Apellido"
                                        required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                                        th:errors="*{apellido}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="form-label text-diseño-rc2">Direccion</label>
                                    <input type="text" th:field="*{direccion}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese direccion"
                                        required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}"
                                        th:errors="*{direccion}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="form-label text-diseño-rc2">Correo Electronico</label>
                                    <input type="email" th:field="*{email}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese email" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                        th:errors="*{email}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">Celular</label>
                                    <input type="number" th:field="*{celular}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="N° Celular" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('celular')}"
                                        th:errors="*{celular}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Sexo</label>
                                    <select class="form-select form-select mb-3" th:field="*{sexo}"
                                        th:errorclass="'form-control alert-danger" aria-label=".form-select-lg example">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Fecha Nacimiento</label>
                                    <input type="date" class="form-control" th:field="*{fecha_Nacimiento}"
                                        th:errorclass="'form-control alert-danger" required autofocus="autofocus">
                                    <small class="form-text text-danger"
                                        th:if="${#fields.hasErrors('fecha_Nacimiento')}"
                                        th:errors="*{fecha_Nacimiento}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">Usuario</label>
                                    <input type="text" th:field="*{usuario}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese Usuario"
                                        required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}"
                                        th:errors="*{usuario}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Contraseña</label>
                                    <input id="password" type="password" th:field="*{password}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Contraseña" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                        th:errors="*{password}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Rol</label>
                                    <select id="rol" class="form-select" th:field="*{tipo_rol}"
                                        th:errorclass="'form-control alert-danger">
                                        <option th:each="rol : ${rol}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" id="btn-registrar"
                                        class="btn btn-fondo-rc text-light">REGISTRAR</a></button>
                                </div>
                                <div class="col-12 d-grid">
                                    <a type="submit" id="btn-volverEmpleado" th:href="@{/gestionAdmin}"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout :: footer"></footer>
</body>

</html>