<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <div class="wrapper">
        <div
            class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-3 rounded text-center">
                                <img src="../imagenes/propietario.png" alt="registrar-propietario" height="150"
                                    width="150">
                                <h3 class="text-diseño-rc text-center" th:text="${titulo}"></h3>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioPropietario}" method="post" th:object="${propietario}"
                                class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${propietario.id}" />
                                <div class="col-md-12 position-relative">
                                    <label class="text-diseño-rc2">Nombre Completo</label>
                                    <input id="nomPropietario" type="text" th:field="*{nombre}" class="form-control"
                                        th:errorclass="'form-control alert-danger"
                                        placeholder="Ingrese nombre completo" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                                        th:errors="*{nombre}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label for="direccion" class="form-label text-diseño-rc2">Direccion</label>
                                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}"
                                        th:errorclass="'form-control alert-danger" placeholder="Av. Ejemplo 123"
                                        required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}"
                                        th:errors="*{direccion}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label for="correo" class="form-label text-diseño-rc2">Correo Electronico</label>
                                    <input type="email" class="form-control" id="correo" th:field="*{correo}"
                                        th:errorclass="'form-control alert-danger" placeholder="ejemplo@gmail.com"
                                        required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}"
                                        th:errors="*{correo}"></small>
                                </div>

                                <div class="col-md-6 position-relative">
                                    <label class="text-diseño-rc2">Celular</label>
                                    <input id="celPropietario" type="number" th:field="*{celular}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingresar numero"
                                        required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('celular')}"
                                        th:errors="*{celular}"></small>
                                </div>

                                <div class="col-md-6 position-relative">
                                    <label for="validationTooltip05" class="form-label text-diseño-rc2">Medio de
                                        Pago</label>
                                    <select class="form-select form-select mb-3" th:field="*{medio_Pago}"
                                        th:errorclass="'form-control alert-danger"
                                        aria-label=".form-select-lg example">
                                        <option value="Efectivo">Efectivo</option>
                                    </select>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" id="btn-Propietario"
                                        class="btn btn-fondo-rc text-light">REGISTRAR</button>
                                </div>
                                <div class="col-12 d-grid">
                                    <a type="submit" id="btn-registrar" th:href="@{/gestionPropietario}"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="layout :: footer"></footer>
</body>

</html>