<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-4 rounded text-center">
                                <img src="../imagenes/producto.png" alt="registrar-producto" height="150" width="150">
                                <h3 class="text-diseño-rc text-center" th:text="${titulo}"></h3>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioProducto}" method="post" th:object="${producto}"
                                class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${producto.id}" />
                                <div class="col-md-6 position-relative">
                                    <label class="text-diseño-rc2">Codigo</label>
                                    <input type="text" th:field="*{codigo}" class="form-control"
                                        placeholder="Ingrese codigo del producto" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}"
                                        th:errors="*{codigo}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="text-diseño-rc2">Nombre</label>
                                    <input id="nombre" type="text" th:field="*{nombre}" class="form-control"
                                        placeholder="Ingrese nombre producto" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                                        th:errors="*{nombre}"></small>
                                </div>
                                <div class="col-md-6 position-relative">
                                    <label class="text-diseño-rc2">Descripción</label>
                                    <input id="descripcion" type="text" th:field="*{descripcion}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese Descripción"
                                        required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
                                        th:errors="*{descripcion}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="nombre_Proveedor" class="form-label text-diseño-rc2">Proveedor</label>
                                    <input type="text" class="form-control" id="nombre_Proveedor"
                                        th:field="*{nombre_Proveedor}" th:errorclass="'form-control alert-danger"
                                        placeholder="Empresa" required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre_Proveedor')}"
                                        th:errors="*{nombre_Proveedor}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">RUC</label>
                                    <input id="ruc" type="number" th:field="*{ruc_proveedor}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="2000000000" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('ruc_proveedor')}"
                                        th:errors="*{ruc_proveedor}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="marca" class="form-label text-diseño-rc2">Marca</label>
                                    <input type="text" class="form-control" id="marca" th:field="*{marca}"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese marca" required
                                        autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('marca')}"
                                        th:errors="*{marca}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label class="text-diseño-rc2">Precio S/</label>
                                    <input id="precio" type="text" th:field="*{precio}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="S/0.00" required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}"
                                        th:errors="*{precio}"></small>
                                </div>

                                <div class="col-md-4 position-relative">
                                    <label for="fecha_Registro" class="form-label text-diseño-rc2">Fecha Registro</label>
                                    <input type="date" class="form-control" th:field="*{fecha_Registro}" id="fecha_Registro"
                                        th:errorclass="'form-control alert-danger'" required autofocus="autofocus">
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha_Registro')}"
                                        th:errors="*{fecha_Registro}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="fecha_Vencimiento" class="form-label text-diseño-rc2">Fecha Vencimiento</label>
                                    <input type="date" class="form-control" th:field="*{fecha_Vencimiento}" id="fecha_Vencimiento"
                                        th:errorclass="'form-control alert-danger'" required autofocus="autofocus">
                                    <small class="form-text text-danger"
                                        th:if="${#fields.hasErrors('fecha_Vencimiento')}"
                                        th:errors="*{fecha_Vencimiento}"></small>
                                </div>
                                <div class="col-md-5 position-relative">
                                    <label for="stock" class="form-label text-diseño-rc2">Stock</label>
                                    <input id="stock" type="number" th:field="*{stock}" class="form-control"
                                        th:errorclass="'form-control alert-danger" placeholder="Ingrese Stock"
                                        required>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('stock')}"
                                        th:errors="*{stock}"></small>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label text-diseño-rc2">Categoría</label>
                                    <select class="form-select" th:field="*{categoria}"
                                        th:errorclass="'form-control alert-danger">
                                        <option th:each="categoria : ${listaCategorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-10 d-grid">
                                    <button type="submit" id="btn-registrar"
                                        class="btn btn-fondo-rc text-light">REGISTRAR</button>
                                </div>
                                <div class="col-10 d-grid">
                                    <a type="submit" id="btn-registrar" th:href="@{/gestionProducto}"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout :: footer"></footer>
</body>

</html>