<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario">

    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                    <div class="col mx-auto">
                        <div class="card shadow-lg p-3 mb-5 bg-body rounded border border-light p-3">
                            <div class="card-body p-3 rounded text-center">
                                <img src="../imagenes/reporte.png" alt="registrar-HistorialMedico" height="150" width="150">
                                <h3 class="text-diseño-rc text-center" th:text="${titulo}"></h3>
                            </div>
                            <hr class="border border-light" />
                            <form th:action="@{/formularioHistorialM}" method="post" th:object="${historial_medico}"
                                class="row g-3">
                                <input type="hidden" th:field="*{id}" th:value="${historial_medico.id}" />
                                <div class="col-md-4 position-relative">
                                    <label for="exampleFormControlInput2" class="form-label text-diseño-rc2">Fecha de
                                        Registro</label>
                                    <input type="date" class="form-control" th:field="*{fecha_registro}" value="2017-06-01"
                                        placeholder="Ingresar Fecha de Registro" required>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="mascota" class="form-label text-diseño-rc2">Nombre de
                                        Mascota</label>
                                    <select class="form-select form-select mb-3" th:field="*{mascota}">
                                        <option th:each="mascota : ${mascota}" th:value="${mascota.id}" th:text="${mascota.nombre}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="citas" class="form-label text-diseño-rc2">Citas</label>
                                    <select class="form-select form-select mb-3" th:field="*{citas}" multiple="multiple">
                                        <option th:each="citas : ${citas}" th:value="${citas.id}"  th:text="${citas.servicio}"></option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label for="observaciones"
                                        class="form-label text-diseño-rc2">Observaciones</label>
                                    <textarea class="form-control" th:field="*{observaciones}" id="observaciones" rows="3"></textarea>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" id="btn-registrar"
                                        class="btn btn-fondo-rc text-light">REGISTRAR</a></button>
                                </div>
                                <div class="col-12 d-grid">
                                    <a type="submit" id="btn-volverHistorial" th:href="@{/gestionHistorialM}"
                                        class="btn btn-fondo-rc text-light">VOLVER</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="layout :: footer"></footer>
</body>

</html>