<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
    <meta charset="utf-8">
</head>

<body class="bg-detalle-usuario" onload="modal()">
    <div class="container">
        <div th:if="${success != null}" class="alert alert-primary alert-dismissible fade show">
            [[${success}]]>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="container">
        <div th:if="${warning != null}" class="alert alert-warning alert-dismissible fade show">
            [[${warning}]]>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="container">
        <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show">
            [[${error}]]>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="container">
        <div th:if="${info != null}" class="alert alert-info alert-dismissible fade show">
            [[${info}]]>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <main class="d-flex">
        <div th:replace="layout :: SidebarAdmin"></div>

        <!--TABLA DONDE SE VERÁN LOS MASCOTAS DE LA VETERINARIA-->

        <div class="py-4 me-auto  ms-auto">
            <div class="card table-hover">
                <div class="card-header degradadoFondo ">GESTION DE MASCOTA</div>
                <div class="card-body table-fondo">
                    <div class="col-12 text-center">
                        <a id="btnRegMascota" th:href="@{/formularioMascota}" class="btn btn-primary me-5 estilo-letra-mascota" type="submit"><img class="pe-1"
                                src="../imagenes/agregaMascota.png" alt="huella" height="30" width="30">Registrar Mascota</a>
                    </div>
                    <div>
                        <table class="table table-fondo table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center text-black estilo-letra-mascota">Nombre</th>
                                    <th class="text-center text-black estilo-letra-mascota">Sexo</th>
                                    <th class="text-center text-black estilo-letra-mascota">Color</th>
                                    <th class="text-center text-black estilo-letra-mascota">Especie</th>
                                    <th class="text-center text-black estilo-letra-mascota">Fecha Registro</th>
                                    <th class="text-center text-black estilo-letra-mascota">Peso</th>
                                    <th class="text-center text-black estilo-letra-mascota">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="mascota : ${mascota}">
                                    <td class=" text-black estilo-letra-mascota" th:text="${mascota.nombre}"></td>
                                    <td class=" text-black estilo-letra-mascota" th:text="${mascota.Sexo}"></td>
                                    <td class=" text-black estilo-letra-mascota" th:text="${mascota.color}"></td>
                                    <td class=" text-black estilo-letra-mascota" th:text="${mascota.especie}"></td>
                                    <td class=" text-black estilo-letra-mascota" th:text="${#temporals.format(mascota.fecha_registro,'dd/MM/YYYY hh:mm a')}"></td>
                                    <td class=" text-black estilo-letra-mascota" th:text="${mascota.peso}+' Kg'"></td>
                                    <td>
                                        <a id="btn-ver" th:href="@{/detalleMascota/} + ${mascota.id}" class="btn btn-info me-1 "
                                            type="submit"><img src="../imagenes/buscar.png" alt="huella" height="30"
                                                width="30"></a>
                                        <a onclick="return Eliminar(this)" id="btn-eliminar-mascota" th:href="@{/eliminarMascota/} + ${mascota.id}" class="btn btn-danger me-1"
                                            type="submit"><img src="../imagenes/eliminar.png" alt="huella" height="30"
                                                width="30"></a>
                                        <a id="editMascota" th:href="@{/formularioMascota/} + ${mascota.id}"
                                            class="btn btn-warning me-1" type="submit"><img src="../imagenes/editar.png"
                                                alt="huella" height="30" width="30"></a>
                                        <a id="btn-hisMed" th:href="@{/historialMedico/}+${mascota.id}" class="btn btn-dark me-1" type="submit"><img src="../imagenes/historial_medico.png" alt="historialMedico" height="30" width="30"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav th:replace="paginator-nav :: paginator"></nav>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="layout :: footer"></footer>
</body>

</html>