<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/imagenes/huella.png}" alt="huella">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/misEstilos.css}" rel="stylesheet" type="text/css" />
    <title>I love Pet ♥</title>
</head>

<body class="fondo-mascota">
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0 p-5 ">
            <div class="container-fluid ">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto">
                        <div class="card detallando border border-light p-3">
                            <div class="card-body p-4 rounded text-center">
                                <img src="../imagenes/huella.png" alt="huella" height="150" width="150">
                                <h3 class="text-diseño ">INICIAR SESIÓN</h3>
                            </div>
                            <hr class="border border-light" />
                            <div  class="form-body">
                                <form th:action="@{/login}" method="post" class="row g-4">
                                    <div th:if=${param.error}>
                                        <div class="alert alert-danger">Usuario o contraseña inválidos</div>
                                    </div>
                                    <div th:if=${param.logout}>
                                        <div class="alert alert-info">Se ha cerrado sesión correctamente</div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <label class="form-label text-diseño2">Correo Electronico</label>
                                        <input type="email" class="form-control" id="username" name="username"
                                            required autofocus="autofocus" placeholder="Ingresa tu usuario">
                                    </div>
                                    <div  class="col-12 text-center">
                                        <label class="form-label text-diseño2">Contraseña</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input type="password" class="form-control border-end-0 btn-clave" name="password"
                                                id="password" required autofocus="autofocus" placeholder="Ingresa tu contraseña">
                                        </div>
                                    </div>

                                    <div class="col-12 d-grid">
                                        <input type="submit" class="btn btn-fondo" id="login-submit"  value="Iniciar sesión"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>