@font-face {
    font-family: "letra-mascotas";
    src: url(../fonts/puppybellies/PuppyBellies.ttf);
}
.fondo-mascota{
    background: url("../imagenes/fondo.png");
    background-size: 100%;
}
/*FONDO TRANSPARENTE PARA EL LOGIN*/
.detallando{
    background-color: rgba(0, 0, 0, 0.356);
}
/*TEXTO DE COLORES PARA EL LOGIN*/
.text-diseño{
   font-family: 'letra-mascotas';
   font-weight:bolder;
   font-size: 28px;
   background:linear-gradient(270deg, rgba(60,146,204,1) 29%, rgba(108,187,115,1) 59%, rgba(253,187,45,1) 100%);
   text-shadow: 8px 8px 8px 8px black;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip:text;
}
/*TEXTO DE COLORES PARA RESTABLECER CONTRASEÑA*/
.text-diseño-rc{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 28px;
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(160,156,223,1) 49%, rgba(45,104,173,1) 73%, rgba(177,169,169,1) 100%);
    text-shadow: 8px 8px 8px 8px black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
 }
 /*TEXTO DE MENU PRODUCTOS*/
 .text-diseño-mp{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 28px;
    color: white;
    -webkit-animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both

 }
/*TEXTO DE MENU PRODUCTOS: CATALOGO, GESTION PRODUCTO Y REALIZAR VENTAS*/
.text-diseño-mpc{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 23px;
    color: #4B607B;
    -webkit-animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both
}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

/*TEXTO DE COLORES PARA EL LOGIN: Correo electrónico y Contraseña*/
.text-diseño2{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 20px;
    background:linear-gradient(270deg, rgba(60,146,204,1) 29%, rgba(108,187,115,1) 59%, rgba(253,187,45,1) 100%);
    text-shadow: 8px 8px 8px 8px black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.text-diseño-rc2{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 20px;
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(160,156,223,1) 49%, rgba(45,104,173,1) 73%, rgba(177,169,169,1) 100%);
    text-shadow: 8px 8px 8px 8px black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.estilo-letra-mascota{
    font-family: 'letra-mascotas';
    font-weight:bolder;
}
.text-diseño-detalle{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    background: linear-gradient(270deg, rgb(136, 66, 96) 0%, rgb(118, 63, 185) 49%, rgb(142, 16, 162) 73%, rgb(196, 18, 160) 100%);
    text-shadow: 8px 8px 8px 8px black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
/*FONDO DEL BOTON DEL LOGIN*/
.btn-fondo{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    background:linear-gradient(270deg, rgba(19,65,96,1) 29%, rgba(108,187,115,1) 59%, rgba(253,187,45,1) 100%);
}

.btn-fondo:hover{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    color: black !important;
    background:linear-gradient(270deg, rgb(96, 176, 230) 29%, rgb(144, 247, 153) 59%, rgb(255, 208, 106) 100%);
}
/*FONDO DEL BOTON DEL LOGIN CAMBIO DE CONTRASEÑA*/
.btn-fondo-rc{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    background: linear-gradient(270deg, rgb(136, 66, 96) 0%, rgb(60, 55, 124) 49%, rgb(13, 47, 87) 73%, rgb(100, 83, 83) 100%);
}
.btn-fondo-rc:hover{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    color: black !important;
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(160,156,223,1) 49%, rgba(45,104,173,1) 73%, rgba(177,169,169,1) 100%);
}
.crear-empleado{
   /* background:linear-gradient(270deg, rgb(96, 176, 230) 29%, rgb(144, 247, 153) 59%, rgb(255, 208, 106) 100%);*/
    /*
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(160,156,223,1) 49%, rgba(45,104,173,1) 73%, rgba(177,169,169,1) 100%);*/
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(160,156,223,1) 49%, rgba(169,237,228,1) 73%, rgba(223,178,178,1) 100%);
}
.bg-agregar-propietario{
    background-image: url("../imagenes/fondo-agregar-propietario.jpg");
    background-size: 100%;
    background-repeat: no-repeat ;
}
.bg-agregar-mascota{
    background-image: url("../imagenes/fondo-agregar-mascota.jpg");
    background-size: 100%;
    background-repeat: no-repeat ;
}
/*VISTA DETALLES DEL EMPLEADO*/
.bg-detalle-usuario{
    background-image: url("../imagenes/fondoHuellas.jpg");
    background-repeat: repeat;
    height: 100vh;
}
.btn:hover{
    -webkit-animation:blink-1 .9s both;animation:blink-1 .9s both
 }
 @-webkit-keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}
 
.btn-gestion:hover{
   -webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both
}

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

 form{
    justify-content: center;
    align-items: center;
 }
 .bg-menuProd{
   background-color: #4B607B;
 }
 .card{
    -webkit-animation:scale-in-top 2s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-top 2s cubic-bezier(.25,.46,.45,.94) both;
 }
.card-animacion{ 
    transition: all 1s;    
}
.card-animacion:hover{
    transform: scale(1.1) translateX(5px);
}
 @-webkit-keyframes scale-in-top{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}}@keyframes scale-in-top{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0;opacity:1}}

.border-menuProd{
    border-color: #4B607B;
}
/*VISTA DETALLES DEL EMPLEADO*/
.table-fondo{
    background: #8EA8C9;
}
.degradadoFondo{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 25px;
    color: white;
    background:linear-gradient(270deg, rgb(38, 39, 39) 29%, rgb(44, 48, 54) 59%, rgb(58, 73, 95)100%);
}
.degradoPaginator{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    color: white;
    background:linear-gradient(270deg, rgb(63, 80, 102) 29%, rgb(62, 81, 110) 59%, rgb(42, 59, 85)100%);
}
.degradoPaginatorActive{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    color: white;
    background:linear-gradient(270deg, rgb(107, 136, 172) 29%, rgb(95, 124, 167) 59%, rgb(80, 113, 163)100%);
}
.degradoPaginatorActive:hover{
    color: yellow;
    background:linear-gradient(270deg, rgb(138, 176, 221) 29%, rgb(116, 152, 206) 59%, rgb(105, 149, 216)100%);
}
.select-oscuro{
    background:linear-gradient(270deg, rgb(20, 208, 167) 29%, rgb(47, 192, 146) 59%, rgb(79, 204, 152)100%);
    color: white;
    border-color: #000000;
}
.bg-detalle-usuario {
    background-image: url("../imagenes/fondoHuellas.jpg");
    background-repeat: repeat;
    height: 100vh;
}

.btn:hover {
    -webkit-animation: blink-1 .9s both;
    animation: blink-1 .9s both
}

@-webkit-keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.fb {
    width: 80px;
    height: 80px;
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
    animation: pulsate-fwd 1s ease-in-out infinite both;
}

.correo {
    width: 80px;
    height: 80px;
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
    animation: pulsate-fwd 1s ease-in-out infinite both;
}

footer .huellitas {
    width: 80px;
    height: 80px;
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
    animation: pulsate-fwd 1s ease-in-out infinite both;
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.bar ul li a:hover{
    background: #8EA8C9;
    color: #ffffff;
}
/*TEXTO DE BOTONES DE DEATLLE PRODUCTO*/
.text-diseño-prod{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 18px;
    color: #4B607B;
    -webkit-animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both
}

.border-animal{
    border-color: #395375;
}
.text-diseño-precio{
    font-family: 'letra-mascotas';
    font-weight:bolder;
    font-size: 23px;
    color: #752a85;
    -webkit-animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both
}